<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>photolery | Flyboy</title>

    <link href="css/gallery.css" rel="stylesheet" />
    <link href='css/bootstrap.css' rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />

</head>

<body>
  <header id="photolery-header">
    <div class="container-fluid">
      <div class="row">
        <h1 class="btn btn-lg">photoLERY</h1>
        <p>See photos</p>
        <p><i class="fa fa-angle-double-down"></i></p>
      </div>
    </div>
  </header>

  <section class="photo-album">
    <div class="container">
      <div class="row">
        <h3>PHOTO ALBUMS</h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="album">
              <img src="img/kiss-5.jpg" class="img-responsive" class="image">
              <div class="overlay">
                <div class="text">
                  <p>45 photos<br><hr></p>
                  <p>PERSONAL PHOTOS</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="album">
              <img src="img/album-1.jpg" class="img-responsive" class="image">
              <div class="overlay">
                <div class="text">
                  <p>17 photos<br><hr></p>
                  <p>FEATURED PHOTOS</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="album">
              <img src="img/album-2.jpg" class="img-responsive" class="image">
              <div class="overlay">
                <div class="text">
                  <p>33 photos<br><hr></p>
                  <p>CONCERT PHOTOS</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="album">
              <img src="img/album-5.jpg" class="img-responsive" class="image">
              <div class="overlay">
                <div class="text">
                  <p>10 photos<br><hr></p>
                  <p>RIDES</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="album">
              <img src="img/album-3.jpg" class="img-responsive" class="image">
              <div class="overlay">
                <div class="text">
                  <p>3 photos<br><hr></p>
                  <p>ALBUM ART</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="album">
              <img src="img/album-4.jpg" class="img-responsive" class="image">
              <div class="overlay">
                <div class="text">
                  <p>20 photos<br><hr></p>
                  <p class="album-name">HOME</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
