.full-story{
  margin: 5vw auto;
  font-family: 'Segoe UI';
}

.full-story h2{
  color: #F2C053;
  font-family: 'Segoe UI';
  margin-bottom: 2vw;
}

.full-story hr{
 margin-top: 3vw;
}

.full-story .full-story-date{
  font-family: 'Segoe UI';
  margin-top: 2vw;
  margin-bottom: 1.5vw;
}

.full-story i{
  margin-right: 5px;
}

.author{
  text-align: right;
}

.older-news h3{
  font-family: 'Segoe UI';
}

.older-news h4{
  color: #F2C053;
  font-family: 'Segoe UI';
}

.older-news .btn{
  background-color: #F2C053;
  color: #000;
  border: none;
  border-radius: 50px;
  margin-bottom: 10px;
}

.older-news .btn:hover{
  background-color: #000;
  color: #fff;
}

.older-post{
  padding: 7px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 23px;
}

.older-post p{
  font-family: 'candara';
  font-size: 13px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;

}
