@font-face{
   font-family: 'Segoe UI';
   src : url('../fonts/segoeui.ttf');
}


body{
  font-family: 'Segoe UI';
  background-color:#fff !important;
}

.full-story{
  margin: 5vw auto;
  font-family: 'Segoe UI';
}

.full-story h2{
  color: #F2C053;
  font-family: 'Segoe UI';
}

.full-story hr{
 margin-top: 3vw; 
}

.full-story .full-story-date{
  font-size: 14px;
  font-family: 'Segoe UI';
  text-align: right;
  margin-top: 2vw;
}

.full-story i{
  margin-right: 5px;
}

.older-news h3{
  font-family: 'Segoe UI';
}

.older-news h4{
  color: #F2C053;
  font-family: 'Segoe UI';
}

.older-news .btn{
  background-color: #F2C053;
  color: #000;
  border: none;
  border-radius: 50px;
}

.older-news .btn:hover{
  background-color: #000;
  color: #fff;
}

.older-post{
  padding: 7px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 23px;
}

.older-post p{
  font-family: 'candara';
  font-size: 13px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;

}

.news-text{
  color:#000;
}
.black-headline {
  color:#444 !important;
}