
.news-post{
  border-radius: 3px;
  margin: 4vw auto;
}

.news-desc h3{
  font-family: 'Segoe UI';
  color: #F2C053;
  text-align: left;
  margin-top: 10px;
}

.news-post .news-text{
  margin: 10px auto;
  font-family: 'Segoe UI';
  color: #444;
}

.news-post .btn{
  background-color: #F2C053;
  border: none;
  border-radius: 50px;
  color: #000;
  padding-left: 10px;
}

.news-post .btn:hover{
  background-color: #000;
  color: #fff;
}

.news-post .news-desc .news-date{
  font-size: 14px;
  font-family: 'Segoe UI';
  text-align: right;
}

.news-post .news-desc i{
  margin-right: 5px;
}

.older-news h3{
  font-family: 'Segoe UI';
}

.older-news h4{
  color: #F2C053;
  font-family: 'Segoe UI';
}

.older-news .btn{
  background-color: #F2C053;
  color: #000;
  border: none;
  border-radius: 50px;
  margin-bottom: 10px;
}

.older-news .btn:hover{
  background-color: #000;
  color: #fff;
}

.older-post{
  padding: 7px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 23px;
}

.older-post p{
  font-family: 'candara';
  font-size: 13px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.pagination a{
  color: #000;
  font-family: 'Segoe UI';
  margin: auto 5px;
}

ul.pagination .active a {
    background-color: #F2C053;
    color: #000;
    border: 1px solid #F2C053;
}

ul.pagination li a:hover:not(.active){
  background-color: #95989a;
  border: 1px solid #95989a;
  color: #fff;
}

ul.pagination a:first-child {
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
}

ul.pagination a:last-child {
    border-top-right-radius: 50px!important;
    border-bottom-right-radius: 50px!important;
}
