
@font-face{
   font-family: 'Segoe UI';
   src : url('../fonts/segoeui.ttf');
}

body{
	font-family: 'Segoe UI';
}
#music-player{
	background-image:url('../img/sliders/slider-6.jpg');
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	height: 550px;
}

#music-player .rule{
	height: 2px;
	background-color: #fff;
	width: 70%
}

#music-player h1{
	color: #F2C053;
	font-family: 'Segoe UI';
	margin-bottom: 20px;
}

#music-player p{
	color: #fff;
	margin-top: 7vw;
	font-size: 18px;
	font-family: 'Segoe UI';
}

@media(max-width: 767px){
	#music-player p{
		margin-top: 15vw;
	}
}

#music-player a{
	color: #000000;
}

#music-player a i{
	margin-right: 10px;
}

#music-player .btn{
	background-color: #F2C053;
	color: #000000;
	font-family: 'Segoe UI';
	border: none;
	border-radius: 50px;
}

#music-player .btn:hover{
	background-color: #000000;
	color: #ffffff;
}
.divider{
	background-color:#ccc;
	height:2px;
	width:150px;
}

#ratingContainer {
	padding:5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#albumArt{
	/*background-color:green;*/
	height:250px;
	width:250px;
	border-radius:5px;
	border: 1px solid #ccc;
}

.albumImage{
	height: 250px;
	width: 250px;
	max-width: 250px;
	max-height: 250px;
}


#musicInfoContainer {
	height:100%; 
	margin-top:80px;
	padding:10px;
}

.checked{
	color:#f2c053;
}


.socialContainers {
	padding: 10px;
}
#playerContainer {
	/*background-color: red;*/
	margin-top:10px;
	border:1px solid #ccc;
	margin-bottom: 20px;
	border-radius:5px;
}

#instagramContainer {
	height:250px;
	/*background-color:yellow;*/
	padding:5px;
	margin-bottom: 3px;
}

#facebookContainer{
	height:200px;
	/*background-color: green;*/
}

.socialHeaders{
	font-weight: bold;
	letter-spacing: 2px;
	color:#000 !important;
}

.social-divider{
	height:2px;
	width:35px;
	background-color:#f2c053;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #f2c053; !important;
}

.playmusic-btn{
	background-color:#F2c053;
	color:#000;
	margin:0 10px;
}

@media(max-width:414px){
	.audio.green-audio-player{
		min-width:0 !important;
	}
	.playmusic-btn{
		margin:0 0;
	}

	#ratingContainer{
		margin:5px 0 !important;
	}

}

@media(max-width: 1024px){
	#ratingContainer{
		margin: 0 15px;
	}
}