/* ================================== VIDEO PLAYER ================================== */
  @font-face{
   font-family: 'Segoe UI';
   src : url('../fonts/segoeui.ttf');
}

body{
  background-color:#fff !important;
  font-family: 'Segoe UI';
  }

#photolery-header{
  background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)),
  url('../img/sliders/slider-6.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  height: 620px;
}

#test{
  position: relative;
}
#photolery-header h1{
  color: #F2C053;
  font-family: 'Segoe UI';
  margin-top: 40vh;
  margin-bottom: 5vw;
  letter-spacing: 5px;
  border: 2px solid #F2C053;
  font-size: 48px;
  padding: 15px;
}

#photolery-header .btn{
  cursor: default;
}

#photolery-header p{
  color: #F2C053;
  font-family: 'Segoe UI';
  font-size: 20px;
}

#photolery-header i{
  font-size: 35px;
}

@media(max-width: 1024px){
  #photolery-header h1{
    margin-top: 20vh !important;
  }
}
@media(max-width: 767px){
  #photolery-header h1{
    margin-top: auto;
  }
}
@media(max-width:414px){
  #photolery-header h1{
    margin-top:30vh !important;
  }
}
/*==========================================================*/
#video-player{

  background-image:url('../img/sliders/slider-6.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  height: 550px;

}

#video-player h1{
    color: #000000;
    margin-top: 15vw;
    font-family: 'Segoe UI';
}

/* ============================== LIST OF VIDEOS ====================== */
#videos h2{
  background-color: #ffffff;
  margin-top: 8vh;
  color: #000!importantr;
  text-align: center;
  font-weight: bold;
}


#songs .row{
  margin-bottom: 1.5vw;
}

@media(max-width: 767px){
  #songs .row{
    margin-bottom: 6vw;
  }
}

@media(max-width:414px){
  .video {
    margin-top:10px !important;
  }

}

.video{
  margin-bottom: 5%;
  background-color: #fff;
}

.grid-item .video{
  padding:10px;
}

.video img{
  margin-bottom: 10px;
}

.video-details h3{
   font-family: 'Segoe UI';
   font-weight: bold;
   text-align: center;
}

.video-details p{
  color: #95989A;
  text-align: center;
  font-style: italic;
}

.play-video a i{
  font-size: 15px;
  margin-right: 10px;
}

.video-details hr{
  margin: 10px;
}

.play-video{
  text-align: center;
}

.video .btn{
  background-color: #F2C053;
  border: none;
  border-radius: 50px;
  font-family: 'Segoe UI';
  margin-top: 10px;
}

.video .btn:hover{
  background-color:#000000;
}

.load-more-videos{
  text-align: center;
  margin: 30px auto;
}

.load-more-videos .btn{
  background-color: #000;
  color: #f2c053;
  border: none;
  border-radius: 50px;
}

.load-more-videos .btn:hover{
  background-color: #F2C053;
  color: #000;
}